<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Techmaster Blogs</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
   <div id="form_input">
        <h1>Tạo bài viết mới</h1>
        <form action="/new_blogs" method="POST"> 
            <input type="text" name="title" placeholder="Nhập tiêu đề">
            <input type="text" name="image" placeholder="Nhập ảnh">
            
            <input type="text" name="date" placeholder="Nhập thời gian bài viết">
     
            <button type="submit">Submit</button>
        </form>
   </div>

   <div id="container">
        <% for(i = 0; i < arr.length; i++){ %>
                <div class="container-item">
                    <a href="/blog/<%= arr[i]._id %>">
                        <img src="<%= arr[i].image %>" class="img_item">
                        <h2><%= arr[i].title %></h2>
                        <p><%= arr[i].date %></p>
                    </a>
                </div>    
        <% } %>
   </div>
  

</body>
</html>